$colors: (
  white: #ffffff,
  dark-purple: #3a3142,
  warm-grey: #7d7d7d,
  greyish: #4a4a4a,
  pale-gold: #ffcb74,
  deep-white: #e3e3e3,
  translucent-black: rgba(0, 0, 0, 0.3),
);

@each $name, $color in $colors {
  .#{$name} {
    background: $color;
  }

  .#{$name}-text {
    color: $color;
  }
}
