@import '../fonts/material-icons/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');

@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(../fonts/Michroma/Michroma.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-family: PingFangSC, sans-serif;
}

.michroma-font {
  font-family: 'Michroma', sans-serif;
}

.source-code-pro{
  font-family: 'Source Code Pro', monospace;
}
