@import 'color';
@import 'fonts';
@import 'size';
@import 'shadow';
@import 'grid';
@import 'box';

@import 'button';
@import 'list';
@import 'from';
@import 'article';

body {
  margin: 0;
}

.page-title {
  margin: 0px;
  padding: 46px 24px;
  font-size: 20px;
}

.covering {
  z-index: 100;
}

.up-covering {
  z-index: 101;
}

.loadding {
  display: block;
  width: 20px;
  height: 20px;
}
