@import url('https://fonts.googleapis.com/css?family=Monoton');
$fontcolor: #3a3142;

html {
    font-family: "PingFang SC", "黑体", "微软雅黑";
}

*[v-cloak] {
  display: none !important;
}

$header_height: 100px;

#header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $header_height;

    background: white;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25);

    > h1 {
        margin: 0;
        padding-left: 40px;
        line-height: $header_height;
        font-family: "Monoton";
        font-weight: 200;
        font-size: 32px;
        padding-left: 40px;
        color: $fontcolor;
        text-transform: uppercase;
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

#article-list,
#article {
    top: $header_height;
    bottom: 0;
    left: 0;
}

#article-list {
    top: $header_height;
    bottom: 0;
    left: 0;
    width: 100%;

    .grid {
        margin: 0 auto;
        width: 960px;
    }

    ul {
        list-style-type: none;
        margin: 0 0 0 240px;
    }

    $li_min_height: 120px;

    li {
        position: relative;
        padding: ($li_min_height - 60px) / 2 0;
        min-height: 60px;
        cursor: pointer;

        &:hover {
            $color: #9b9b9b;

            .dot,
            .end,
            .line {
                background: $color;
            }

            .time {
                color: $color;
            }
        }
    }

    .mask {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .title {
        margin: 0 0 0 85px;
        font-size: 26px;
        font-weight: bolder;
        color: $fontcolor;
    }

    .des {
        margin: 4px 0 0 85px;
        font-size: 16px;
        font-weight: lighter;
        color: #9b9b9b;
    }

    .time {
        position: absolute;
        left: 0px;
        top: $li_min_height / 2 - 6px;
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        color: #d8d8d8;
        transition: color 0.4s;
    }

    .line {
        position: absolute;
        top: 0;
        left: 50px;
        height: 100%;
        width: 4px;
        background: #d8d8d8;
    }

    .dot {
        width: 12px;
        height: 12px;
        background: #d8d8d8;
        margin-left: -4px;
        margin-top: $li_min_height / 2 - 6px;
        border-radius: 50%;
    }

    .end {
        position: absolute;
        $r: 40px;
        width: $r;
        height: $r;
        top: 0;
        left: 50px - ($r - 2)/2;
        font-size: 24px;
        line-height: $r;
        text-align: center;
        background: #d8d8d8;
        color: #fff;
        border-radius: 50%;

    }

    .dot,
    .end,
    .line {
        transition: background 0.4s;
    }
}

#article {
    position: absolute;
    width: 100%;

    background: white;

    .grid {
        max-width: 960px;
        margin: 0 auto;
    }

    .back-to-list {
        display: none;
    }

    article {
        text-align:justify;
        padding: 1.3rem 1.5rem 2rem 1.5rem;
        font-size: 18px;
        font-weight: lighter;
        line-height: 1.8;
        color: #4a4a4a;
    }


}

footer {
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.2);
    cursor: default;
}

.disappear {
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
    $header_height: 3.4rem;

    #header {
        height: $header_height;

        > h1 {
            line-height: $header_height;
            font-size: 1.2rem;
            padding-left: 1.5rem;
        }
    }

    #article-list,
    #article {
        top: $header_height;
    }

    #article-list {
        position: relative;
        $li_min_height: 4rem;

        .grid {
            width: auto;
            padding: 0 1.5rem;
        }

        ul {
            width: 10.6rem;
            margin: 0;
            padding-left: 3.4rem;
        }

        li {
            position: relative;
            padding: (($li_min_height - 1.9rem) / 2) 0;
            min-height: 1.9rem;
            cursor: pointer;

            &:hover {
                $color: #9b9b9b;

                .dot,
                .end,
                .line {
                    background: $color;
                }

                .time {
                    color: $color;
                }
            }
        }

        .top {
            margin-top: -3rem;
            height: 1.9rem;
        }

        .title {
            margin-left: 3rem;
            font-size: 0.8rem;
            font-weight: bolder;
            color: $fontcolor;
        }

        .des {
            margin: 0 0 0 3rem;
            padding-top: 4px;
            font-size: 0.7rem;
            font-weight: normal;
            color: #9b9b9b;
        }

        .time {
            right: 10rem;
            top: $li_min_height / 2 - 0.3rem;
            font-size: 0.6rem;
            font-weight: normal;
            color: #d8d8d8;
            transition: color 0.4s;
        }

        .line {
            position: absolute;
            top: 0;
            left: 1.3rem;
            height: 100%;
            width: 0.05rem;
            background: #d8d8d8;
        }

        .dot {
            width: 0.25rem;
            height: 0.25rem;
            background: #d8d8d8;
            margin-left: -0.1rem;
            margin-top: $li_min_height / 2;
            border-radius: 50%;
        }

        .end {
            $r: 1.45rem;
            width: $r;
            height: $r;
            line-height: $r;
            top: 0;
            left: 1.3rem - ($r - 0.05rem)/2;
            font-size: 1rem;
        }
    }

    #article {

        font-size: 0.9rem;
        line-height: 1.2;

        .back-to-list {
            $r: 2.6rem;

            display: block;
            position: fixed;
            bottom: 2rem;
            right: 1.5rem;
            width: $r;
            height: $r;

            box-shadow: 0 10px 16px rgba(0,0,0,0.26);
            border-radius: 50%;

            background: $fontcolor;
            color: white;
            font-size: 1.1rem;
            text-align: center;
            text-decoration: none;
            line-height: $r;

        }
    }
}

@media all and (orientation: portrait) and (min-width: 480px) and (max-width: 959) {
    $header_height: 3.4rem;

    #header {
        height: $header_height;

        > h1 {
            line-height: $header_height;
            font-size: 1.2rem;
            padding-left: 1.5rem;
        }
    }

    #article-list {
        position: relative;
        $li_min_height: 4rem;
        top: $header_height;

        .grid {
            width: auto;
            padding: 0 1.5rem;
        }

        ul {
            width: 10.6rem;
            margin: 0;
            padding-left: 3.4rem;
        }

        li {
            position: relative;
            padding: (($li_min_height - 1.9rem) / 2) 0;
            min-height: 1.9rem;
            cursor: pointer;

            &:hover {
                $color: #9b9b9b;

                .dot,
                .end,
                .line {
                    background: $color;
                }

                .time {
                    color: $color;
                }
            }
        }

        .top {
            margin-top: -3rem;
            height: 1.9rem;
        }

        .title {
            margin-left: 3rem;
            font-size: 0.8rem;
            font-weight: bolder;
            color: $fontcolor;
        }

        .des {
            margin: 0 0 0 3rem;
            padding-top: 4px;
            font-size: 0.7rem;
            font-weight: normal;
            color: #9b9b9b;
        }

        .time {
            right: 10rem;
            top: $li_min_height / 2 - 0.3rem;
            font-size: 0.6rem;
            font-weight: normal;
            color: #d8d8d8;
            transition: color 0.4s;
        }

        .line {
            position: absolute;
            top: 0;
            left: 1.3rem;
            height: 100%;
            width: 0.05rem;
            background: #d8d8d8;
        }

        .dot {
            width: 0.25rem;
            height: 0.25rem;
            background: #d8d8d8;
            margin-left: -0.1rem;
            margin-top: $li_min_height / 2;
            border-radius: 50%;
        }

        .end {
            $r: 1.45rem;
            width: $r;
            height: $r;
            line-height: $r;
            top: 0;
            left: 1.3rem - ($r - 0.05rem)/2;
            font-size: 1rem;
        }
    }
}
